


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>映像判断</title>
    <link rel="stylesheet" href="/static/css/styles.css">  <!-- 这里可以链接到外部CSS样式 -->
</head>
<body>
    <h1>映像判断</h1>
    <div id="video-container">
        <!-- 视频会加载在这里 -->
    </div>
    <button id="submit-btn" style="margin: 0 auto; display: table">送信</button>

    <script src="/static/js/scripts.js"></script>  <!-- 引入外部JS文件 -->
</body>
</html>
