<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>映像判断</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>映像判断説明テスト </h1>
    <div class="container">
        <!-- ビデオコンテナ -->
        <div id="video-container">
            <!-- 这里将通过 JavaScript 动态加载视频和选项 -->
        </div>

        <!-- チュートリアル説明文書 -->
        <!-- チュートリアル説明文書 -->
        <div id="instruction-container">
            <h2>映像判断ルール（日本語版）</h2>

            <h3>目的</h3>
            <p>
                <li>動画内で以下のすべての条件を満たす<b>場面</b>をできるだけ探してください。もし、すべての条件を満たす場面が存在しないと感じた場合、部分的に条件を満たしている場面を選んでマークを付けてください</li>
            </p>

            <hr />

            <h3>詳細な映像判断ルール</h3>

            <h4>1. 正面顔の要件</h4>
            <ul>
                <li><b>可視な特徴：</b> 両目、鼻、口が完全に視認でき、遮られていないこと。</li>
                <li>少なくとも<b>3秒間</b>続くこと。</li>
                <li><b>顔の比率：</b>
                    <ul>
                        <li>顔が場面内の各フレームで少なくとも<b>10%</b>を占めていること。</li>
                    </ul>
                </li>
            </ul>

            <h4>2. 音声と顔の一致</h4>
            <ul>
                <li>音声は、フレーム内で表示されている顔と一致し、同じキャラクターが話していることを確認する必要があります。</li>
                <li>音声は明瞭であり、少なくとも<b>3秒間</b>続くこと。</li>
                <li>他のキャラクターの音声や背景の音が重複しないこと。</li>
            </ul>

            <h4>3. 背景</h4>
            <ul>
                <li><b>背景の要件：</b>
                    <ul>
                        <li>背景はシンプルであり、戦闘シーンや速く動く物体、激しい照明の変化など、過度に気を散らすものでないこと。</li>
                    </ul>
                </li>
            </ul>

            <h4>4. 干渉</h4>
            <ul>
                <li><b>視覚的干渉：</b>
                    <ul>
                        <li>他の人物の顔がフレームに登場しないこと。</li>
                    </ul>
                </li>
            </ul>


            <button id="submit-btn">送信</button>
        </div>


    </div>
    <script src="/static/js/tutorial.js" defer></script>
</body>
</html>
